@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --violetColor: #6576ff;
  --greeColor: #1fcec9;
  --blueColor: #4b97d3;
  --blackColor: #364a63;
  --grayColor: #8091a7;
  --whiteColor: #ffffff;
  --yellowColor: ##ffd200;
}

body {
  color: var(--blackColor);
  background: var(--whiteColor);
}
